<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Carwash_1.0.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Carwash_1.1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Creature.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>StringExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>845518BE1B6576AA00D21CFA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>845518CC1B6EC9B700D21CFA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>845AB20D1B5F05450076828E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>845AB21B1B5F056D0076828E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>845AB2441B5F07470076828E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>845AB25D1B5F09B00076828E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
